<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Insight into Rock/ラックの紹介</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{url_for('static',filename='assets/js/ie/html5shiv.js')}}"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/main.css')}}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{url_for('static',filename='assets/css/ie8.css')}}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{url_for('static',filename='assets/css/ie9.css')}}" /><![endif]-->

		<!-- Scripts -->
			<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
			<!--[if lte IE 8]><script src="{{url_for('static',filename='assets/js/ie/respond.min.js')}}"></script><![endif]-->
			<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">Insight into Rock</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="/j-rock">Listen</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>
				<h2>Music Collection</h2>
				<p>It is a personal collection of J-Rock & Britpop Music.</p>
				<p>Designed by Xiaohan Wang(王 肖翰)</p>
				<ul class="actions">
					<li><a href="#one" class="button big special">Learn More</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="{{url_for('static',filename='images/brit1.jpg')}}" alt="" /></span>
						<div class="content">
							<h2>Introduction To Britpop</h2>
							<p>Britpop, which originated in the United Kingdom, is a subgenre of alternative rock music. The rise of Britpop from the British independent music scene dated back to early 1990s, and soon it became an unstoppable Britpop Movement. The bands which characterized the movement were deeply influenced by the British guitar-pop music of the 1960s and 1970s. </p>
							<ul class="actions">
								<li>
									<a href="/britpop" class="button alt">Start To Listen</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="{{url_for('static',filename='images/jrock.jpg')}}" alt="" /></span>
						<div class="content">
							<h2>Introduction To J-Rock</h2>
							<p>In the 1960s, many Japanese rock bands were influenced by Western rock musicians such as The Beatles, Bob Dylan, and the Rolling Stones, along with other Appalachian folk music, psychedelic rock, mod and similar genres: a phenomenon that was called Group Sounds (G.S.). John Lennon of The Beatles later became one of most popular Western musicians in Japan...</p>
							<ul class="actions">
								<li>
									<a href="/j-rock" class="button alt">start to listen</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Some Albums of J-Rock & Britpop</h2>
						<p>Have a glimpse first!</p>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="{{url_for('static',filename='data/j-rock/Re-make.png')}}" alt="" /></a>
						<a href="#" class="image"><img src="{{url_for('static',filename='data/britpop/Beetlebum.png')}}" alt="" /></a>
						<a href="#" class="image"><img src="{{url_for('static',filename='data/j-rock/Tummy.png')}}" alt="" /></a>
						<a href="#" class="image"><img src="{{url_for('static',filename='data/britpop/2 + 2 = 5.png')}}" alt="" /></a>
						<a href="#" class="image"><img src="{{url_for('static',filename='data/j-rock/Wherever you are.png')}}" alt="" /></a>
						<a href="#" class="image"><img src="{{url_for('static',filename='data/britpop/Lucky.png')}}" alt="" /></a>
						<a href="#" class="image"><img src="{{url_for('static',filename='data/j-rock/ふたりごと.png')}}" alt="" /></a>
						<a href="#" class="image"><img src="{{url_for('static',filename='data/britpop/Psycho.png')}}" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="/j-rock" class="button big alt">Listen Now</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Music Collection</h2>
						<p>When the power runs off, we'll just hum.</p>
						<p>ああ、できそこないの心臓、やだ。</p>
					</header>
					<ul class="actions">
						<li><a href="/about" class="button big alt">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>Looking forward to your suggestion</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; <a href="http://www.cad.zju.edu.cn/home/zhx/DAM/2015/doku.php">DAM Course</a>.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
						<li>ReDesign: <a href="http://ousyoukan.lofter.com/">Xiaohan Wang</a>.</li>
					</ul>
				</div>
			</footer>

	</body>
</html>